@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
  }
body{
    font-family: Caviar;
}
#iphone{
  position: absolute;
  left: 40.4%;
  top: 7%;
  width: 24%;
  height: 97%;
}
#border{
    background-color: #B7E4C7;
  position: absolute;
  width: 20%;
  height: 70%;
  margin-left: -7.5%;
  left: 50%;
  top: 20%;
  overflow: hidden;

}
#logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#durabilityLid{
    text-align: center;
    font-size: 200%;
  color: #1B4332;
  font-weight: bold;
  margin: 5%;
}
#understrek{
    width: 90%;
  border: 2px solid #081C15;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #081C15;
}
#welcome{
    text-align: center;
    font-size: 150%;
    color: #081C15;
}
#login{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: block;
  border: 2px solid #081C15;
  border-radius: 5%;
  background-color: #081C15;
  color: #52B788;
  font-size: 150%;
  font-family: Caviar;
  font-weight: bold;

}
#login:hover,#register:hover{
  cursor: pointer;
}
#register{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: block;
  border: 2px solid #081C15;
  border-radius: 5%;
  background-color: #081C15;
  color:  #52B788;
  font-size: 150%;
  font-family: Caviar;
  font-weight: bold;
  margin-top: 10%;
    
}
#loginLink,#registerLink{
    text-decoration:none;
    color: #52B788;
}
#username,#password,#code{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 5%;
  width: 70%;
}
#knapp{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 5%;
  width: 50%;
  border: #081C15 3px solid;
  background-color:  #081C15;
  height: 30px;
  color: #52B788;
  font-size: 20px;
}
#alertTekst,#alertTekst2,#alertTekst3,#alertTekst9{
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 15px;
}#alertTekst9{
  text-align: center;
  color: green;
  font-weight: bold;
}
#registerTittel{
  text-align: center;
  font-size: 150%;
color: black;
font-weight: bold;
margin-top: -12%;
}
#username2,#password2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 5%;
  width: 70%;
}
#knappL{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 5%;
  width: 50%;
  border: #081C15 3px solid;
  background-color:  #081C15;
  height: 30px;
  color: #52B788;
  font-size: 20px;
}


#loginTittel{
  text-align: center;
  font-size: 150%;
color: black;
font-weight: bold;
margin-top: -12%;

}
#alertTekst4,#alertTekst5{
  text-align: center;
  color: red;
  font-weight: bold;
}



#registerSide,#loginSide{
  right: 150%;
  position: absolute;
}


#back{
 
    display: block;
    margin-left: 2%;
    outline: none; 
    opacity: 0;
    margin-top: 2%;
}
